// Theme Colors
$sky: #5eb9f0;
$blue: #3f78e0;
$grape: #605dba;
$purple: #747ed1;
$violet: #a07cc5;
$pink: #d16b86;
$fuchsia: #e668b3;
$red: #e2626b;
$orange: #f78b77;
$yellow: #fab758;
$green: #45c4a0;
$leaf: #7cb798;
$aqua: #54a8c7;
$navy: #343f52;
$ash: #9499a3;